:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  //Primary
  --cyan: hsl(179, 62%, 43%);
  --cyanlighter: hsl(179, 62%, 53%);

  --brightyellow: hsl(71, 73%, 54%);
  //Neutral
  --liightgray: hsl(204, 43%, 93%);
  --grayishblue: hsl(218, 22%, 67%);
}
